.footer {
    display: flex;
    padding-top: 180px;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 99px;
    width: 100%;
}
.footer-information {
    flex-direction: column;
    display: flex;
    
}
.footer-information-title {
    font-family: 'Fira Sans';
    font-weight: 700;
    font-size: 16px;
    color: #111238;
}
.footer-information-paragraph {
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 16px;
    padding-top: 10px;
}

.footer-nav-title {
    font-family: 'Fira Sans';
    font-weight: 700;
    font-size: 16px;
    color: #111238;
}
.footer-nav-link {
    text-decoration: none;
    color: #111238;
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 16px;
    padding-top: 10px;
}
.footer-logo-paragraph {
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 12px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.footer-nav {
    display: flex;
    flex-direction: column;
}

.footer-nav-link:hover {
    color: #7713B9;
}

.footer-nav-link:focus {
    color: #7713B9;
}

