html * {
  font-family: "Fira Sans", sans-serif;
}
.header-main {
  margin: 0 auto;
  width: 537px;
  height: 70px;
  margin-top: 30px;
}
.input-header {
  width: 537px;
  height: 70px;
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  outline: none;
  justify-content: center;
  color: #b2b2b2;
  outline-color:white ;
}
.input-header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49px;
  font-family: "Fira Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  outline: none;
}
.button-header-main {
  width: 222px;
  height: 49px;
  background: #8012c9;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 10px;
}
.button-header-main-text {
  font-family: "Fira Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  outline: none;
}
.example {
  display: flex;
  margin: 0 auto;
  width: 440px;
  margin-bottom: 50px;
}
.example-text {
  width: 95px;
  height: 17px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #b2b2b2;
  align-items: center;
  margin-top: 28px;
}
.example-buttons {
  align-items: center;
  margin-top: 23px;
}
.example-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #b2b2b2;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  height: 27px;
  align-items: center;
}
.front-end {
  width: 83px;
}
.back-end,
.minecraft {
  width: 80px;
}
.designer {
  width: 76px;
}
.header-main {
  padding-top: 120px;
  padding-bottom: 340px;
}
