html * {
	font-family: 'Fira Sans', sans-serif;
}
.header-main {
	margin: 0 auto;
	width: 537px;
	height: 70px;
	margin-top: 30px;
}
.input-header {
	width: 537px;
	height: 70px;
	background: #ffffff;
	border: 1px solid rgba(209, 209, 209, 0.1);
	box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
	border-radius: 5px;
	display: flex;
	align-items: center;
}
.input-header-text {
	display: flex;
	align-items: center;
	padding-left: 27px;
	margin-right: 156px;
	width: 132px;
	height: 19px;
	font-family: 'Fira Sans';
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #b2b2b2;
}
.button-header-main {
	width: 222px;
	height: 49px;
	background: #8012c9;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}
.search {
	margin-right: 10px;
}
.button-header-main-text {
	font-family: 'Fira Sans';
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #ffffff;
}
.example {
	display: flex;
	margin: 0 auto;
	width: 440px;
}
.example-text {
	width: 95.25px;
	height: 17px;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #b2b2b2;
	align-items: center;
	margin-top: 28px;
}
.example-buttons {
	align-items: center;
	margin-top: 23px;
}
.example-button {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #b2b2b2;
	border: 1px solid #b2b2b2;
	border-radius: 5px;
	height: 27px;
	align-items: center;
}
.front-end {
	width: 83px;
}
.back-end,
.minecraft {
	width: 80px;
}
.designer {
	width: 76px;
}
.header-main {
    padding-top: 120px;
    padding-bottom: 340px;
}
