.title-main-card {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 15px;
}

.main-card {
  width: 270px;
}

.title-whywe {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #111238;
  margin-bottom: 70px;
}

.main-card-discription {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.whywe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-whywe {
  display: flex;
  justify-content: center;
  gap: 30px;
}
