
.main-WhyUs-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Sans';
    font-weight: 700;
    font-size: 36px;
}
.main-WhyUs-list {
    display: flex;
    justify-content: center;
    padding-top:35px ;
    padding-left: 168px;
    padding-right:105px ;
    gap: 30px;
}
.main-WhyUs-card-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
}
.main-WhyUs-card-paragraph {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #757575;
    padding-top: 16px;
}
.main-WhyUs-card {
    width: 270px;
}


