body {font-family: 'Fira Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

input {
    outline: none;
}

button {
    cursor: pointer;
}

.active {
    color: #7713b9;
}